@import '../../setting/color.scss';

.error {
  display: flex;
  align-items: center;
  svg {
    animation: loading 2s linear infinite;
    path {
      fill: $title-color;
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-15deg)
  }
  50% {
    transform: rotate(0)
  }
  75% {
    transform: rotate(15deg)
  }
}