a {
  margin: 0 5px;
}

.home {
  margin: 0 auto;
  width: 90%;
  .content {
    display: flex;
    flex-wrap: wrap;

    .btn {
      margin: 5px;
      transition: background 0.2s;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    width: 95%;
  }
}