.fade-enter, .fade-exit-done {
  opacity: 0;
}
.fade-exit, .fade-enter-done {
  opacity: 1;
}
.fade-enter-active, .fade-exit-active {
  transition: opacity 0.3s;
}

.fade-delay-enter, .fade-delay-exit-done {
  opacity: 0;
}
.fade-delay-exit, .fade-delay-enter-done {
  opacity: 1;
}
.fade-delay-enter-active, .fade-delay-exit-active {
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}

.slide-up-appear {
  transform: translateY(100%);
}
.slide-up-appear-done {
  transition: all 0.5s;
  transform: translateY(0);
}

.slide-down-appear {
  transform: translateY(-100%);
}
.slide-down-appear-done {
  transition: all 0.5s;
  transform: translateY(0);
}

@keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes logo-restart {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes voice {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes voice-restart {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}